<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Error</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body background="images/loginImage.jpg" scroll="no" style="overflow: hidden"> <!--Sets image and disables scrolling-->
</body>
</html>


<div class="container">
    <div class="center-block" style="background-color:rgba(255,255,255,.7); position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); padding: 30px 60px; border-radius: 25px; box-shadow: 2px 2px 2px;">
        <div>
            <h4>Invalid credentials</h4>
        </div>
    <div class="">
        <fieldset>
		        <p><a href="/">Go Back</a></p>
        </fieldset>
        </form>
        <div class="alert alert-warning">
            <p2><strong>Error: </strong> {{{message}}}.</p2>
        </div>
    </div>
    </div>
</div>
