
<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Home Page</title>
		<meta name="description" content="form to add new books">
		<meta name="author" content="Mark Tyers">
		<link href="style.css" type="text/css" rel="stylesheet" />
	</head>
	<body>
		<h1>Home</h1>
		<p>This is a secure page. Users need to have a valid account and be logged in to see it.</p>
<div class="container">
    <div class="center-block" style="background-color:rgba(255,255,255,.7); position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); padding: 30px 60px; border-radius: 25px; box-shadow: 2px 2px 2px;">

        <h1>{{{name}}}</h1>

    </div>
</div>

		<p><a href="/logout">log out</a></p>
</html>
