
<!doctype html>

<html lang="en">
	<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<meta charset="utf-8">
		<title>Home Page</title>
		<meta name="description" content="form to add new books">
		<meta name="author" content="Mark Tyers">
	</head>
		  <body background="images/loginImage.jpg" scroll="no" style="overflow: hidden"> <!--Sets image and disables scrolling-->
		  </body>
	</html>

<div class="container">
    <div class="center-block" style="background-color:rgba(255,255,255,.7); position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); padding: 30px 60px; border-radius: 25px; box-shadow: 2px 2px 2px;">
        <div>
					<h1>Home</h1>
        </div>
    <div class="">
        <p><a href= "/addIssue">Create an issue </a></p>
		<p><a href= "/viewIssues/all">View the issues </a></p>
		<p><a href="/logout">log out</a></p>
        <div class="alert alert-warning">
            <p><strong>Local Community</strong> -Welcome to our local community website.</p>
        </div>
    </div>
    </div>
</div>
