<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Login Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body background="images/loginImage.jpg" scroll="no" style="overflow: hidden"> <!--Sets image and disables scrolling-->
</body>
</html>


<div class="container">
    <div class="center-block" style="background-color:rgba(255,255,255,.7); position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); padding: 30px 60px; border-radius: 25px; box-shadow: 2px 2px 2px;">
        <div>
            <h4>Local Community</h4>
        </div>
    <div class="">
        <form method='POST' action=''>
        <fieldset>
        <legend>Login</legend>
            <form action="/login" method="post">
			<p>Username:<br /><input type="text" name="user" placeholder="your username" value="{{user}}" autofocus></p>
			<p>Password:<br /><input type="password" name="pass" placeholder="your password" value=""></p>
			<p><input type="submit" value="Log in"></p>
		    </form>
			</p1>
		    <p><a href="/register">Register</a></p>
        </fieldset>
        </form>
        <div class="alert alert-warning">
            <p><strong>Local Community</strong> -Welcome to our local community website. Please
			log in or register if you are a new member.</p>
        </div>
    </div>
    </div>
</div>
